{% extends '@SyliusAdmin/layout.html.twig' %}

{% form_theme selectCustomerForm '@SyliusAdminOrderCreationPlugin/Order/selectCustomerTheme.html.twig' %}
{% form_theme createCustomerForm '@SyliusAdmin/Form/theme.html.twig' %}

{% block pre_content %}
    <h2 class="ui header">
        <i class="circular cart plus icon"></i>
        <div class="content">
            {{ 'sylius.ui.new_order'|trans }}
            <div class="sub header">{{ 'sylius_admin_order_creation.ui.customer_selection'|trans }}</div>
        </div>
    </h2>
{% endblock %}

{% block content %}
    <div class="ui center aligned basic segment">
        {{ form_start(selectCustomerForm, {'method': 'GET'})}}
        {{ form_row(selectCustomerForm.customer) }} <br /><br />
        {{ form_row(selectCustomerForm.channel, {'attr': {'class': 'ui fluid selection dropdown'}}) }} <br /><br />
        <button class="ui blue submit button" id="order_select_customer_submit">{{ 'sylius.ui.next'|trans }}</button>
        {{ form_end(selectCustomerForm) }}
    </div>
    <div class="ui horizontal divider">
            {{ 'sylius.ui.or'|trans }}
    </div>

    <div class="ui center aligned basic segment">
        {{ form_start(createCustomerForm, {'method': 'GET'})}}
        <div class="ui input fluid ">
            {{ form_widget(createCustomerForm.customerEmail, {'attr': {'placeholder': 'sylius_admin_order_creation.ui.new_customer_email'|trans}}) }}
        </div> <br /><br />
        {{ form_row(createCustomerForm.channel, {'attr': {'class': 'ui fluid selection dropdown'}}) }} <br /><br />
        <button class="ui green right labeled icon button" id="order_create_new_customer_submit">
            <i class="plus icon"></i> {{ 'sylius_admin_order_creation.ui.create_new'|trans }}
        </button> <br /><br />
        {{ form_end(createCustomerForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function() {
            function addErrorMessage(element, message){
                element.after(`<div class="ui red pointing label sylius-validation-error">${message}</div>`);
            }

            $('#order_select_customer_submit').on('click', function(e) {
                e.preventDefault();

                let form = $(this).parents('form');
                let $customer = form.find('[name*="[customer]"]');
                let customerId = $customer.val();
                let channelCode = form.find('select[name*="[channel]"]').val();

                if (customerId.length) {
                    form.attr('action', Routing.generate(
                        'sylius_admin_order_creation_order_create',
                        {
                            'customerId': customerId,
                            'channelCode': channelCode
                        },
                        true
                    ));

                    form.submit();

                } else {
                    addErrorMessage($customer.parent(), "{{ 'sylius_admin_order_creation.ui.no_customer_selected'|trans }}");
                }
            });

            $('#order_create_new_customer_submit').on('click', function(e) {
                e.preventDefault();

                let form = $(this).parents('form');

                let $customerEmailInput = form.find('[name*="[customerEmail]"]');
                let customerEmail = $customerEmailInput.val();
                let channelCode = form.find('[name*="[channel]"]').val();

                if (customerEmail) {
                    form.attr('action', Routing.generate(
                        'sylius_admin_order_creation_customer_create',
                        {
                            'customerEmail': customerEmail,
                            'channelCode': channelCode
                        },
                        true
                    ));

                    form.submit();

                    return;
                }

                if (form.find('.sylius-validation-error').length === 0) {
                    addErrorMessage($customerEmailInput.parent(), "{{ 'sylius_admin_order_creation.ui.customer_email'|trans }}");
                }
            });
        });
    </script>
{% endblock %}
