{% extends '@SyliusAdmin/layout.html.twig' %}

{% form_theme selectCustomerForm '@SyliusAdminOrderCreationPlugin/Order/selectCustomerTheme.html.twig' %}
{% form_theme createCustomerForm '@SyliusAdmin/Form/theme.html.twig' %}

{% block content %}
    <div class="ui center aligned basic segment">
        {{ form_start(selectCustomerForm, {'method': 'GET'})}}
        {{ form_row(selectCustomerForm.customer) }}
        <button class="ui blue submit button">{{ 'sylius.ui.next'|trans }}</button>
        {{ form_end(selectCustomerForm) }}
        <div class="ui horizontal divider">
            {{ 'sylius.ui.or'|trans }}
        </div>
        {{ form_start(createCustomerForm, {'method': 'GET'})}}
        <div class="ui left icon action input">
            {{ form_widget(createCustomerForm.customer, {'attr': {'placeholder': 'sylius_admin_order_creation.ui.new_customer_email'|trans}}) }}
            <button class="ui green right labeled icon button">
                <i class="plus icon"></i> {{ 'sylius_admin_order_creation.ui.create_new'|trans }}
            </button>
        </div>
        {{ form_end(createCustomerForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form button').on('click', function(e) {
                e.preventDefault();

                let form = $(this).parents('form');
                form.attr('action', Routing.generate(
                    'sylius_admin_order_creation_order_create',
                    { 'customerEmail': form.find('[name*="[customer]"]').val() },
                    true
                ));

                form.submit();
            });
        });
    </script>
{% endblock %}
