{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}{{ 'sylius.ui.new_order'|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdminOrderCreationPlugin/orderItemCollectionTheme.html.twig' %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular plus icon"></i>
                <div class="content">{{ 'sylius.ui.new_order'|trans }}</div>
            </h1>
            {% include '@SyliusAdminOrderCreationPlugin/Order/Create/_breadcrumb.html.twig' %}
        </div>
    </div>
    {% include '@SyliusAdminOrderCreationPlugin/Order/_form.html.twig' with {
        'action': path('sylius_admin_order_creation_order_preview', {'customerEmail': app.request.attributes.get('customerEmail')})
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function() {
            $('#sylius_admin_order_creation_new_order_shipments [data-form-collection="add"]').on('click', function(e) {
                if (!canShippingMethodBeProvided()) {
                    e.stopPropagation();
                    return;
                }

                loadAvailableShippingMethods();
            });

            $('#shipmentsAndPaymentsTab').on('click', function(e) {
                console.log(canShippingMethodBeProvided());

                if (canShippingMethodBeProvided()) {
                    $('#shipmentsAndPayments').find('.invalid-data-message').hide();
                } else {
                    $('#shipmentsAndPayments').find('.invalid-data-message').show();
                }

                if ($('#shipmentsAndPayments select').length != 0) {
                    loadAvailableShippingMethods();
                }
            });

            function loadAvailableShippingMethods($shipmentNumber) {
                if (!canShippingMethodBeProvided()) {
                    return;
                }

                let form = $('form');
                form.addClass('loading');

                $.ajax({
                    type: "POST",
                    url: Routing.generate(
                        'sylius_admin_order_creation_ajax_provide_available_shipping_methods',
                        { 'customerEmail': '{{ app.request.attributes.get("customerEmail") }}', 'shipmentNumber': '0' },
                        true
                    ),
                    data: form.serializeArray(),
                    dataType: "json",
                    accept: "application/json",
                    success: function(data) {
                        let lastShipment = $('#sylius_admin_order_creation_new_order_shipments [data-form-collection="list"]').find('[data-form-collection="item"]:last-child');
                        let selectBody = '';

                        $.each(data, function(key, value) {
                            selectBody += '<option value="'+key+'">'+value+'</option>';
                        });

                        lastShipment.find('select').html(selectBody);
                        form.removeClass('loading');
                    }
                });
            }

            function canShippingMethodBeProvided() {
                return $('#sylius_admin_order_creation_new_order_items [data-form-collection="item"]').length > 0 && $('#sylius_admin_order_creation_new_order_shippingAddress_countryCode').val() !== '';
            }
        });
    </script>
{% endblock %}
